@import "tailwindcss";
html {
  @apply w-full relative;
}

body {
  @apply min-h-[100vh] flex flex-col text-white overflow-x-hidden;
  font-family: "is", monospace, sans-serif;

  background: var(--bg-color);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  @apply flex flex-col h-full w-full min-h-[100vh] m-auto overflow-x-hidden;

  background-image: url("/svg/texture.svg");
  background-size: 2vw;
  background-blend-mode: overlay;
  background-repeat: repeat;

  transition: all 130ms ease-out;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.flex-center {
  @apply flex items-center justify-center;
}

header {
  z-index: 1000;
  color: var(--color-primary);
}

.stat-head {
  @apply font-[is-sb];
  color: #6a6a6c;
}

.head-item:hover {
  @apply opacity-100 cursor-pointer;
}

.stat-head {
  border-bottom: 1px solid #39354e;
}
.statistique-filtre {
  color: #6a6a6c;
}
.color-primary {
  color: var(--color-primary);
}

input:focus {
  border: 0;
  outline: 0;
}

@media screen and (max-width: 768px) {
  footer {
    @apply flex-col items-center gap-2 pb-12;
  }
}
