@import "tailwindcss";
html {
  @apply w-full relative;
  min-height: 100vh;
}

body {
  @apply min-h-[100vh] flex flex-col text-white overflow-x-hidden;
  font-family: "is", monospace, sans-serif;

  background: var(--bg-color);
  /* background-repeat: repeat; */
  background-size: cover;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  background-size: cover;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  @apply flex flex-col h-full w-full min-h-[100vh] m-auto overflow-x-hidden;

  background-image: url("/svg/texture.svg");
  background-size: 2vw;
  background-blend-mode: overlay;
  background-repeat: repeat;

  transition: all 130ms ease-out;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

.flex-center {
  @apply flex items-center justify-center;
}

header {
  z-index: 1000;
  color: var(--color-primary);
}

.stat-head {
  @apply font-[is-sb];
  color: #6a6a6c;
}

.head-item:hover {
  @apply opacity-100 cursor-pointer;
}

.stat-head {
  border-bottom: 1px solid #39354e;
}
.statistique-filtre {
  color: #6a6a6c;
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}

input:focus {
  border: 0;
  outline: 0;
}
.rounded {
  border-radius: 8px;
}
.bg-black {
  background-color: #090909;
  color: #fbfbfb;
}
.bg-red {
  background-color: #ff2424;
  color: #fbfbfb;
}

@media screen and (max-width: 768px) {
  footer {
    @apply flex-col items-center gap-2 pb-12;
  }
}
