:root {
  --theme-primary: #1138ff;
  --theme-primary-glow: #5b76ff;
  --theme-primary-2: #2c1dff9f;
  --theme-secondary: #1c1c1c;
  --theme-secondary-2: #0c0c0c;
  --white-2: #e3e3f0;
  --dark-2: #151517;
  /* --bg-color: #121316; */
  --bg-color: linear-gradient(to bottom, #1c1c1c, #0c0e13);
  --ease-main: cubic-bezier(0.3, 0.84, 0.66, 1);
  --color-primary: #a8a8a8;
}
